# Virtual Environments
Lib/
Scripts/
__pycache__/
*.pyc

# Logs and Session Files
*.log
*.session
*.session-journal

# Executables and Binaries
*.exe
*.dll

# IDE and Temp files
*.code-workspace
*.temp
*.parquet
backtest_highres_signals.csv
*.joblib
mt5_config.json
*.csv
