:root {
  font-family: 'Inter', -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121418;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
